.body {
  --background: url(../assets/sky-sadgrl.png);
  --foreground: rgb(255, 255, 255, 0.95);
  --blue: rgb(32, 70, 82, 0.95);
  --light-blue: rgb(153, 215, 248);
  --light-blue2: rgb(148, 193, 218);
  --bright-blue: rgb(25, 176, 214);
  --black: rgb(0, 0, 0, 0.85);
  --mizuiro: rgb(162, 241, 255);
  --baby-blue: rgb(153, 207, 231, 0.75);
  --pink: rgb(255, 226, 243);
}

.page {
  font-family: var(--cloister-black);
}

.header {
  background-color: var(--header-color);
  font-size: medium;
  text-align: center;
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 12px 0px;
  border-radius: 8px;
}

.topNav {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 2px auto;
  padding: 4px 0px;
  font-family: var(--venice-classic);
  font-size: 20px;
  background-color: var(--header-bg);
  color: var(--header-text);
  border-radius: 5px;
}

.widget {
  border: var(--widget-border);
  background-color: var(--widget-bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.hello {
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: center;
  font-family: var(--venice-classic);
}

.hello h2 {
  margin-bottom: -4px;
}

.bigGifs {
  content: var(--bigGif);
  height: 163px;
  margin: 1.5em auto;
}

.musicbox {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}

.marqTitle {
  background-color: var(--marq-title);
  color: var(--marq-text);
  padding: 2px;
  margin: 0px;
  font-size: 25px;
}

.musicPlayer {
  position: relative;
  width: 175px;
  height: 175px;
}

.activate {
  position: relative;
  width: 115px;
  margin: 8px auto;
}

.jukebox ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  list-style: none;
  text-align: center;
}

.jukebox li {
  padding: 2px 0px;
}

.jukebox:hover ul,
.activate:focus + ul,
.juekbox:focus-within > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 20%;
  right: 50%;
  z-index: 1;
}

.jukebox button {
  background-color: var(--button-color);
  color: var(--button-text);
  border: var(--button-border);
  border-radius: 5px;
}

.jukebox button:hover {
  color: var(--button-hover);
  border-color: var(--button-border-hover);
}

.musicPlayer h3 {
  text-align: center;
  font-size: large;
}

.mainBox {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 4px 8px;
  display: flex;
  position: relative;
}

.mainBox h2 {
  font-size: 36px;
}

.divider {
  content: var(--divider-image);
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--glow-night);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
